---
import { Image } from "astro:assets";
import SkillBadge from "./SkillBadge.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<article class="card bg-base-100 shadow-xl hover:shadow-2xl transition-shadow">
  <figure class="aspect-video">
    <Image
      src={project.data.image}
      alt={project.data.title}
      class="w-full h-full object-cover"
      width={600}
      height={400}
    />
  </figure>
  <div class="card-body">
    <h3 class="card-title text-primary w-full justify-center">
      {project.data.title}
    </h3>
    <p class="text-base-content/80">{project.data.description}</p>
    <div class="flex flex-wrap gap-2 mt-2">
      {project.data.skills.map((skill) => <SkillBadge skill={skill} />)}
    </div>
  </div>
</article>
